# .gitignore

# Environment files
.env
.env
*.env


# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# IDE settings
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
env/
venv/
venv312/